body {
    font-family: "Rubik";
    background: #ddd;
}

.container {
    max-width: 600px;
    height: 100%;
    margin: auto;
    padding: 2em;
    background: white;
}

.bar-graph {
    .bar-graph-bar {
        height: 16px;
        background-color: hsl(50%, 30%, 60%);
        border-radius: 4px;
    }
}
